/*
 * Banner450  skm skck
 */
 
.tab_skm{								
    border-collapse: collapse;
    width:100%;
}
.tab_skm th {
    border: 1px solid black;
    font-size:9px;
    padding: 3px;								   
}
.tab_skm td {
    font-size:9px;								   
}
/*
 * Banner covid-19
 */
.c-row {
	padding:5px ;
}
.covid19{
	border : 3px solid #f4ad21;
	border-radius : 9px;
	background-color : #2b2b2b;								
	color : white;
}
.rumkit b:first-child {
	font-size:13px;
}
.tbsebar tr {
	line-height: 13px;
}
.tbsebar td, .tbsebar th {
	font-size:13px;
}
.box-kasus{
	background-color:#191919;
	border-radius:5px;
	border:1px solid #e5cce5;
	padding:2.5px;
	font-size:12px;
}
.plot {
	width: 100%;  
	color: #f9f9f9;
	float: left;
	border-radius:5px;
}
.plot-biru {
	background: #4ca5ff; 
}
.plot-biru .plot-info{
	background: #7fbfff;
}
.plot-ungu {
	background: #a64cff; 
}
.plot-ungu .plot-info{
	background: #bf7fff;
}
.plot-oren {
	background: #ff9932; 
}
.plot-oren .plot-info{
	background: #ffbf7f;
}
.plot .plot-info {
	display: block;   
	text-align: center;
	font-size: 20px;
}
.plot-title {
	padding: 5px 0 5px 0;
}
.plot-title span {
	display: block;
	text-align: center;
}
.plot-title span:first-of-type {
	font-size: 17px;  
}
.plot-box {
	display: block;  
	padding: 0;
	list-style-type: none;
	text-align: center;
	color: #f9f9f9;
}
.plot-box li {
	display: block;
	margin: 0 0 3px 0;
}
/*
 * Running text
 */
marquee {
	margin-top: 5px;
	width: 100%;
}
.runtext-container {
	background-color:#2b2b2b;
	border-radius:8px;
	padding-left:5px;
	padding-right:5px;
}
.main-runtext {margin: 0 auto;
overflow: visible;
position: relative;
}
.runtext-container .holder {
	position: relative;
	overflow: visible;
	display:inline;
}
.runtext-container .holder .text-container {
	display:inline;
}
.runtext-container .holder a{
	text-decoration: none;
	font-weight: bold;
	color:#f5ac21;
	/*text-shadow:0 -1px 0 rgba(0,0,0,0.25);*/
	line-height: -0.5em;
	font-size:16px;
}
.runtext-container .holder a:hover{
	text-decoration: none;
	color:f2c97c;
}
.text-container img {
	width:16px;
}
/* accordion-1 widget */
.container{
	padding:15px 0px;		
	width: 100%;
	margin: 0 auto;
}
/* accordion-1 */
.accordion-1{
	position: relative;
	/*box-shadow: 0px 1px 7px #DBDBDB;*/
}
.accordion-1 .head h4{
	padding-top:6px;
	padding-right:20px;
	text-align: left;
  	text-justify: '';
	font-size: 16px;
}
.accordion-1 .head{		
	background-color: #6a6666;		
	padding: 5px 10px;
	cursor: pointer;
	transition: 0.2s ease;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.accordion-1 .head h4,
.accordion-1 .head .arrow{
	color: #ffffff;
}
.accordion-1 .arrow{
	font-size: 18px;
	transition: 0.25s ease;
	transform: rotate(-90deg);		
}
.accordion-1 .head:hover, .accordion-1 .active{
	background-color: #514c4c;
	opacity :1;		
}
.accordion-1 .arrow-animate{
	transform: rotate(0deg);	
}	
.accordion-1 .head,
.accordion-1 .accobox{
	-webkit-box-shadow: 0px 0px 1px #4d4d4d;
}
.accordion-1:first-child .head{
	border-radius: 10px 10px 0px 0px;
}
.accordion-1:last-child .head,
.accordion-1:last-child .accobox{
	border-radius: 0px 0px 10px 10px;
}
.accordion-1 .accobox{
	background-color: #fff5d8;
	display: none;
	padding: 8px 10px 10px 25px;
	color: #333333;
}
.accordion-1 .active h4,
.accordion-1 .active .arrow {
	color: orange;
	opacity: 1;
}

/* Modal OK */
body.no-scroll {
	overflow: hidden;
}
body.modal-margin {
	margin-right: 10px;
}
.modal-backdrop {
	z-index: 999;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(8px);
	display: none;
}
.modal-box {
	z-index: 1000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	padding: 20px 20px 15px;
	border-radius: 10px;
	box-shadow: 0 8px 20px rgba(0,0,0,0.2);
	display: none;
	transition: transform 0.3s ease;
}

.modal-box.show {
	display: block;
	transform: translate(-50%, -50%) scale(1);
}
/* .modal-box .modal-content {
	padding-top:20px;
	margin-left: -10px;
	margin-right: -10px;
} */
.close-btn {
	position: absolute;
	top: 10px;
	right: 12px;
	background: transparent;
	border: none;
	font-size: 20px;
	color: #333;
	cursor: pointer;
}

/* Start CSS for Resta Label [<a class="la-info">text</a>] */
.la-info {
   background: #65a9d7;
   padding: 2px 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #ffffff;
   font-size: 12px;
   vertical-align: middle;
}
/* Plugin autocomplete */
.autocomplete-box {
	position: relative;
	padding-top: 9px;
	width: 300px;
}
.autocomplete-input {
	width: 100%;
	height: 28px;
	padding: 8px;
	font-size: 16px;
	border-radius: 8px;
	color: #191919;
}
.autocomplete-suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #fff;
	max-height: 180px;
	overflow-y: auto;
	z-index: 1000;
	display: none;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	color: #191919;
}
.autocomplete-item {
	padding: 8px;
	cursor: pointer;
	white-space: normal;
}
.autocomplete-item.hover {
	background: #e0f0ff;
}
.highlight {
	font-weight: bold;
	background: rgb(234, 197, 155);
}