

/** primary input here **/

.customCheck{
	position:absolute;
	display:inline-block;
	font-family: 'mfg', Arial;
	font-size:17px;
	font-style:normal;
	vertical-align: middle;
	line-height: 17px;  
	color:#5b5b5b;
	
}


.fileTags { overflow: hidden; position: relative; }
.fileTags [type=file] {
	cursor: inherit;
	display: inline-block;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;	
	position: absolute;
	top: 0;
	opacity: 0;
	right: 0;
}
.fileShow:hover {background-color:#2f363d;}
.fileShow {
	display: block;
	border: #2f363d 2px solid;
	border-radius: 5px;
	width:100%;
	max-height:200px;
	padding:0px ;
	margin:3px 0px 7px 0px;
	background-color:#47515b;
}


.addButton, .rmvButton {
	font-family: 'mfg',Tahoma;
	background-color:white;
	font-size:12px;
	border-radius:20px;			
	padding:2px 5px 2px 5px;
}
.addButton:active, .rmvButton:active {
	display:relative;
	padding:4px 7px 4px 7px;	
}

.addButton:hover, .rmvButton:hover {
	color:#e59400;
	border:#e59400 1px solid;
}
.addButton{	
	margin-top:5px;	
	color:green;
	border:green 1px solid;	
}
.addButton:active {
	margin: 3px 0px -2px 0px;
}
.rmvButton {
	margin:0px 0px 3px 0px;
	float:right;
	border:red 1px solid;
	color:red;
}
.rmvButton:active {
	margin: -1px 0px 0px 0px;
}

.rmvButton_disabled {
	font-family: 'mfg',Tahoma;
	background-color:white;
	font-size:12px;
	border-radius:20px;			
	padding:2px 5px 2px 5px;
	margin:0px 0px 3px 0px;
	float:right;
	border:grey 1px solid;
	color:grey;
}

.wideBox{width:100%;}

/**
#signup-step{margin:auto;}
#signup-step li{list-style:none; float:left;border:black 1px solid;margin:0px 20px 0px 0px;padding:5px;border-radius:50%;}
.active{color:white;}
#signup-step li.active{background-color:grey;} **/
#signup-form{clear:both;}

#signup-step li {	
  width: 4em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background-color: #ffa500;
  margin: 0 5% 0 0;
  display: inline-block;
  color: white;
  position: relative;
}

#signup-step li::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -90.2%;
  width: 90%;
  height: .2em;
  background-color: #ffa500;
  z-index: -1;
}


#signup-step li:first-child::before {
  display: none;
}

#signup-step li.active {
  background: #ffa500;
}

#signup-step li.active ~ li {
  background: #5b5b5b;
}

#signup-step li.active ~ li::before {
  background: #5b5b5b;
}

.img{
	display:none;
}

/**** Punya SKCK *****/

label{
	font-style:italic;
}

.next{font-family:'mfg'; content: "\2192";}
.back{font-family:'mfg'; content: "\2192";}
.finish{font-family:'mfg'; content: "\2713";}
.signup-error{color:#cc0000;font-size:70%;font-style:italic;font-weight:bold;padding-left:15px;}
.message {
	color: #fb4314;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.subfrm1{margin:2px 0px 0px 0px;}
.subfrm2{border-radius:5px; border: #5b5b5b 1px solid;margin:5px 0px 5px 0px;padding-right:5px;background-color:#fef3cf}
.subfrm2a{padding:5px;}
.subfrm3{padding:5px 0px 3px 0px;margin-right:-10px}
.subfrm3a{border-radius:5px; border: #5b5b5b 1px solid;padding-right:5px;margin:5px 0px 0px 0px;background-color:#ffffb2}
.subfrm3b{padding-right:5px;margin:5px 0px 0px 0px;}

.subfrm4{padding:3px 0px 3px 5px;margin:-5px 0px -5px 0px;}	

.infoHijau{font-size:9px;color:green;vertical-align:middle;}
.infoMerah{font-size:9px;color:#cc0000}
.infoJingga{font-size:9px;color:#e59400}

#hideGelar1, #hideGelar2 {display:none;}


